VITE_OIDC_AUTHORITY=<OidcAuthority output>
VITE_OIDC_CLIENT_ID=<OidcClientId output>
VITE_COGNITO_DOMAIN=<CognitoHostedUiDomain output>
VITE_OIDC_REDIRECT_URI=<OidcRedirectUri output>
VITE_OIDC_POST_LOGOUT_REDIRECT_URI=<OidcPostLogoutRedirectUri output>
VITE_API_BASE_URL=<ApiBaseUrl output>
VITE_API_KEY=